<div class="news-col">
  <div class="news-card">
    <a href="news-details.html">
      <div class="img-block">
        <img src="assets/imgs/news-img-1.jpg" alt="news-img" class="img-fluid">
      </div>
    </a>
    <div class="desc-block">
      <span class="date">
        September 2019
      </span>
      <h5 class="news-title">
        OPTICA MAGNUS IS INTRODUCED AT IBC
      </h5>
      <p>
        The IBC Conference is an unrivalled global
        destination for discussion...
      </p>
      <a class="readMore-btn" href="news-details.html">
        Read More
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</div>