<a href="{{ card_product.url }}">
  <div class="product-card">
    <div class="img-block">
      <img src="assets/imgs/pd-img-1.png" alt="pd-img" class="img-fluid">
    </div>
    <div class="desc-block">
      <h5 class="title">
        Super 35 to S35 Open Gate Expander
      </h5>
      <h4 class="price text-truncate">
        $6,999.00
      </h4>
    </div>
  </div>
</a>