<footer id="site-footer">
  <div class="footer-main-block">
    <div class="container">
      <div class="ft-row">
        <div class="ft-logo-col">
          <div class="ft-logo-block">
            <div class="ft-logo">
              <a href="index.html">
                <img src="assets/imgs/ft-logo.png" alt="Optica Magnus" class="img-fluid">
              </a>
            </div>
            <ul class="ft-caontact">
              <li>
                <div class="icon-block">
                  <img src="assets/imgs/pointer-icon.png" alt="pointer-icon" class="img-fluid">
                </div>
                <a href="#">
                  7095 Hollywood Boulevard <br> #575 Hollywood, CA 90028
                </a>
              </li>
              <li>
                <div class="icon-block">
                  <img src="assets/imgs/ph-icon.png" alt="ph-icon" class="img-fluid">
                </div>

                <a href="tel:1-800-495-2127">
                  1-800-495-2127
                </a>
              </li>
            </ul>
            <a href="#" class="visit-link">
              Visits by Appointment Only
            </a>
          </div>
        </div>
        <div class="ft-right-col">
          <div class="ft-right-block">
            <div class="ft-links-row d-flex flex-wrap">
              <div class="ft-products-col">
                <h3 class="ft-title">
                  our PRODUCTS
                </h3>
                <ul class="ft-links-ul">
                  <li>
                    <a href="#">
                      Academy to 2x Anamorphic
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Anamorphic 2x Angineux/Cooke
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Anamorphic 2x Fujinon
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Fujinon Academy to Full Frame Opengate
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Fujinon Academy to Full Frame Netflix
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Fujinon Academy to Opengate
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Fujinon Academy to S35 Opengate
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Xpander Academy to Super 35
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Xpander Super 35 to Full Frame
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Xpander Super 35 to Full Frame Netflix Format
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Xpander Super35 to S35 Opengate
                    </a>
                  </li>
                </ul>
              </div>
              <div class="ft-about-col">
                <h3 class="ft-title">
                  ABOUT OPTICA MAGNUS
                </h3>
                <ul class="ft-links-ul">
                  <li>
                    <a href="#">Our Vision</a>
                  </li>
                  <li>
                    <a href="#">News</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="ft-last-col">
                <h3 class="ft-title">
                  LEGAL
                </h3>
                <ul class="ft-links-ul">
                  <li>
                    <a href="#">
                      Privacy Notice
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- copywrite sec footer -->
  <div class="ft-copywrite">
    <div class="container">
      <p>
        Copyright &copy; 2022
        <a href="index.html">Optica Magnus</a>
        | All Rights Reserved | All other trademarks and logos belong to their respective corporate and/or franchisee clients.
      </p>
    </div>

  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Logo"
      },
      {
        "type": "textarea",
        "id": "address",
        "label": "Address"
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone Number"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }, {
        "type": "header",
        "content": "Menus"
      }, {
        "type": "text",
        "id": "heading_1",
        "label": "Heading"
      }, {
        "type": "link_list",
        "id": "menu_1",
        "label": "Menu"
      }, {
        "type": "text",
        "id": "heading_2",
        "label": "Heading"
      }, {
        "type": "link_list",
        "id": "menu_2",
        "label": "Menu"
      }, {
        "type": "text",
        "id": "heading_3",
        "label": "Heading"
      }, {
        "type": "link_list",
        "id": "menu_3",
        "label": "Menu"
      }, {
        "type": "header",
        "content": "Copyright"
      }, {
        "type": "textarea",
        "id": "copy",
        "label": "Text"
      }
    ]
  }
{% endschema %}