<!-- why optica section -->

<section class="why-optica-sec">
  <div class="optica-container mx-auto">
    <div class="sec-header">
      <h2 data-aos="zoom-in" data-aos-duration="1000" class="prime-title">
        {{ section.settings.heading }}
      </h2>
      <h3 data-aos="zoom-out-right" data-aos-duration="1000" class="secondary-title">
        {{ section.settings.subheading }}
      </h3>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1000" class="optica-desc-block">
      {{ section.settings.text }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Richtext",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "WHY OPTICA MAG<span>NUS?</span>"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "What differentiates OPTICA MAGNUS from others?"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>At OPTICA MAGNUS we not only strive to optical perfection in regard to resolution, light field coverage and distortion. With the choices of our optical glass and specialized coatings we also pay great attention to the look and the feel.</p><p>We research and use the most advanced optical glass with the highest standards for aberration, density and distortion. When we optimize an Expander or Anamorphic conversion, we take into consideration the original patina of the lens to be converted.Lenses can show great values on a focus charts, but that does not imply that the lens renders faces and landscapes and offers pleasing flares and a bouquet with a desired look.</p><p>Optica Magnus expanders also bring life back to some of the great zoom optics of the past, that will match some of the current popular vintage prime lenses.</p>"
      }
    ],
    "presets": [
      {
        "name": "Custom RichText",
        "category": "Custom Sections"
      }
    ]
  }
{% endschema %}