<!-- news details section -->

<section class="news-details-sec">
  <div class="container">
    <div class="news-dt-row">
      <div class="news-dt-col">
        <h3 class="common-title">
          Recent News
        </h3>
        <div class="pd-card">
          <div class="news-dt-img-block">
            <img src="assets/imgs/news-dt-img.jpg" alt="news-dt-img" class="img-fluid">
          </div>
          <div class="tags-row d-flex flex-wrap">
            <span class="feature-tag">
              Featured Story
            </span>
            <span class="feature-tag">
              September 2019
            </span>

          </div>
          <div class="news-title">
            OPTICA MAGNUS IS INTRODUCED AT IBC
          </div>
          <p>
            The IBC Conference is an unrivalled global destination for discussion and debate about the many different
            challenges facing the electronic media and entertainment industry, both in its sessions and in the range of
                                            networking opportunities it affords.
          </p>
          <p>
            The IBC Exhibition covers fifteen halls across the RAI, hosting over 1,700 exhibitors and a number of specially
            curated feature areas and events that tie into the IBC Conference to enrich your understanding of technologies
                                            and trends that are driving the industry.
          </p>
        </div>

      </div>
      <div class="news-list-col">
        <h3 class="common-title">
          Related News
        </h3>
        <div class="news-cards-list">
          <div class="news-card">
            <a href="news-details.html">
              <div class="img-block">
                <img src="assets/imgs/news-img-3.jpg" alt="news-img" class="img-fluid">
              </div>
            </a>
            <div class="desc-block">
              <span class="date">
                September 2019
              </span>
              <h5 class="news-title">
                OPTICA MAGNUS IS INTRODUCED AT IBC SEPTEMBER 2019
              </h5>
              <p>
                The IBC Conference is an unrivalled global
                destination for discussion...
              </p>
              <a class="readMore-btn" href="news-details.html">
                Read More
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </div>
          <div class="news-card">
            <a href="news-details.html">
              <div class="img-block">
                <img src="assets/imgs/news-img-2.jpg" alt="news-img" class="img-fluid">
              </div>
            </a>
            <div class="desc-block">
              <span class="date">
                September 2019
              </span>
              <h5 class="news-title">
                SUPER 35 TO LARGE FORMAT EXPANDER
              </h5>
              <p>
                The IBC Conference is an unrivalled global
                destination for discussion...
              </p>
              <a class="readMore-btn" href="news-details.html">
                Read More
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </div>
          <div class="news-card">
            <a href="news-details.html">
              <div class="img-block">
                <img src="assets/imgs/news-img-4.jpg" alt="news-img" class="img-fluid">
              </div>
            </a>
            <div class="desc-block">
              <span class="date">
                September 2019
              </span>
              <h5 class="news-title">
                OPTICA MAGNUS IS REPRESENTED BY P+S TECHNIK FOR EUROPE
              </h5>
              <p>
                The IBC Conference is an unrivalled global
                destination for discussion...
              </p>
              <a class="readMore-btn" href="news-details.html">
                Read More
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.83301 10.1667L10.1663 1.83334M10.1663 1.83334H1.83301M10.1663 1.83334V10.1667" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>