<!-- Privacy Policy Section -->
<section class="privacy-policy-sec">
  <div class="vision-container">
    <div data-aos="fade-left" data-aos-duration="1000" class="privacy-content">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Policy",
    "settings": []
  }
{% endschema %}