@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif !important;
}

button, a {
  border: 0;
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1246px;
  margin-inline: auto;
  padding-inline: 15px;
}
.description_text {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 300;
    color: #212529;
}
button#scrollBtn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.slide-main.slick-slide {
    position: relative;
}
.collection-hero {
    display: none;
}
.th_pb_grid_layout_3 .th_pb_list_ul_layout_3 .li_product_list_layout_3.li_product_list_four_grid {
    width: 100% !important;
    max-width: 100%;
}
.li_product_list_layout_3 .th_pb_list_content_layout_3 figure.th_product_img_layout_3{
  width:100% !important;
}
ul.th_pb_list_ul.th_pb_list_ul_layout_3.th_pb_list_ul_index_5 {
    display: block;
    width: 100%;
    overflow-y: auto;
    height: 250px;
}

.th_pb_list_content figure a img {
    max-width: 120px;
}
.th_pb_separatly_price_text {
    font-weight: 700;
}

.th_pb_list_content.th_pb_wf.th_pb_list_content_layout_3 {
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.th_pb_figure_div_layout_3.th_pb_wf {
    width: 30%;
  padding-left:15px !important;
}
.th_pb_section .th_pb_list_content, .th_pb_custom_bundle .th_pb_list_content{
  border-bottom: 1px solid #DDDDDD !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
    

}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E6ECF0; 
   border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* .product__media.media.media--transparent.gradient.global-media-settings {
    height: 66.8rem !important;
} */
.collection .slider .title, .collection .slider .title-wrapper-with-link {
    margin: 0rem 0 3rem;
}
.sec-header {
  max-width: 636px;
  margin-inline: auto;
  padding-inline: 15px;
}
.sec-header p{
  color: #868e96 !important;
  line-height: 2.6rem !important;
  font-weight: 300 !important;
}
.sec-header strong{
      color: #e52520 !important;
}
.th_pb_section .th_pb_bundle_layout_3{
  padding:0 !important;
}
section.products-banner::after {
    position: absolute;
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0682/9624/5563/files/Finder_Page-New_458a8f6f-4699-44af-bebe-8144f0e08fdc.jpg?v=1675119202);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 95%;
  }
}

html {
  overflow-x: hidden;
  font-size: 10px;
  scroll-behavior: smooth;
}
@media (max-width: 991px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 7px;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  background-color: #fff;
  min-width: 320px !important;
  overflow-x: hidden;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-column {
  flex-direction: column !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-102 {
  padding-right: 10.2rem !important;
}

.sec-py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
@media (max-width: 450px) {
  .sec-py-10 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.mx-auto {
  margin-inline: auto !important;
}

.text-center {
  text-align: center !important;
}

.primary-headline {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 600;
  color: #101417;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mw-100 {
  max-width: 100% !important;
}

.gp-8 {
  gap: 8rem;
}

.custom-check {
  display: inline-block;
  position: relative;
  padding-left: 3.6rem;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: rgba(16, 20, 23, 0.7);
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  background-color: none;
  border-radius: 0;
  background: #E8E8E8;
}
.custom-check input:checked ~ .checkmark {
  background-color: #E52520;
}
.custom-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-check input:checked ~ .checkmark:after {
  display: block;
}
.custom-check .checkmark:after {
  left: 0.67rem;
  top: 0.1rem;
  width: 0.37rem;
  height: 1rem;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

.primary-btn {
  min-width: 18.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E52520;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
}
.primary-btn span, .primary-btn svg, .primary-btn img {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
  transition: 0.4s ease-in-out;
  z-index: 2;
}
.primary-btn:hover::before, .primary-btn.active::before {
  height: 100%;
}
.primary-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 1;
  background-color: #657A87;
  transition: 0.4s ease-in-out;
  border-radius: 2px;
}

@-webkit-keyframes fadeUp {
  0% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeDownSticky {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeDownSticky {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}


.ctm-row {
  display: flex;
  flex-wrap: wrap;
}

/*****************************/
.header__icon--cart {
  margin-right: 0;
}

h5,
h2 {
  letter-spacing: normal;
}

.cart-count-bubble {
  left: 1.4rem;
}

.main-content-margin {
  margin-top: 8.1rem;
}

.collection-hero__description {
  max-width: 100%;
}

.collection .primary-btn {
  margin-top: 10px;
}

.product-dt-sec .product-dt-row {
  gap: 3.2rem !important;
}

.product-dt-sec .product-dt-desc-block .desc > h6 {
  margin-top: 0;
  letter-spacing: normal;
}

.price .price-item {
  letter-spacing: normal;
}

.product .price__container {
  margin-bottom: 0;
}

.quantity:after {
  box-shadow: none;
}

.quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-drawer .inceaseBtn,
.cart__items .inceaseBtn {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
  background-color: #fff !important;
}

.cart-drawer .inceaseBtn:hover,
.cart__items .inceaseBtn:hover {
  background-color: #E52520 !important;
}

.cart-drawer .quantity > input,
.cart__items .quantity > input {
  background-color: transparent;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #000;
  outline: 0;
  max-width: 5rem;
  text-align: center;
  border: 0;
}

.product__description p {
  letter-spacing: normal;
}

.product__media.media.media--transparent.gradient.global-media-settings > img {
  height: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 80px;
}

.product__media.media.media--transparent.gradient.global-media-settings {
  max-width: 100%;
  border: 1px solid #ced4da;
  height: 58.8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-form__buttons {
  display: flex;
}

.shopify-payment-button {
  margin-left: 10px;
}

button.shopify-payment-button__button {
  height: 4rem;
  min-width: 13.3rem;
  min-width: 18.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e52520;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
  font-size: 0px;
}

button.shopify-payment-button__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 1;
  background-color: #657a87;
  transition: 0.4s ease-in-out;
  border-radius: 2px;
}

button.shopify-payment-button__button:hover::before {
  height: 100%;
}

button.shopify-payment-button__button::after {
  content: "Buy it now";
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
  transition: 0.4s ease-in-out;
  z-index: 2;
}

.thumbnail[aria-current] {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.template-404 .primary-btn,
.cart-drawer .primary-btn,
.cart__warnings .primary-btn {
  margin: 0 auto;
}

.customer button.primary-btn {
  min-width: 18.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e52520;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
  margin: 20px auto;
}

.customer button.primary-btn span {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
  transition: 0.4s ease-in-out;
  z-index: 2;
}

.customer button.primary-btn:hover::before, .customer button.primary-btn.active::before {
  height: 100%;
}

.customer button.primary-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 1;
  background-color: #657A87;
  transition: 0.4s ease-in-out;
  border-radius: 2px;
}

.collection__view-all a:not(.link) {
  margin: 1rem auto;
}

.cart-items thead th {
  font-weight: bold;
  font-size: 12px;
}

.cart-drawer .cart__checkout-button {
  height: 40px;
}

.drawer__inner {
  padding: 0 30px !important;
}

.cart-drawer__warnings .drawer__close {
  right: 10px;
}

.section-template--17062378635579__main-padding h1 {
  margin-bottom: 0px !important;
}

.shopify-challenge__button {
  height: 40px;
  min-width: 18.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e52520;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
  margin: 17px 0px 0px;
  transition: 0.4s ease-in-out;
}

.g-recaptcha {
  margin: 10px 0px 10px;
}

.shopify-challenge__button:hover {
  background-color: #657a87;
}

.customer.reset-password button {
  height: 40px;
  min-width: 18.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e52520;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
  margin: 20px auto 0px;
  transition: 0.4s all;
}

.customer.reset-password button:hover {
  opacity: 0.7;
}

.humberg-icon {
  display: none !important;
}

.customer.addresses button {
  min-width: 18.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #e52520;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
}

.customer.addresses button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background-color: #657a87;
  transition: 0.4s ease-in-out;
  border-radius: 2px;
}

.customer.addresses button:hover::after {
  height: 100%;
}

.customer.addresses button span {
  z-index: 1;
  position: relative;
}

.services-card .title {
  margin: 20px 0px;
}

/**********  faqs page ***********/
.faqs-sec{
       padding-top: 40px;
       padding-bottom: 40px;
    }
.faqs-sec div#v-pills-tabContent {
  width: 75%;
}

.faqs-sec div#v-pills-tab {
  width: 25%;
}
.faqs-sec .nav-pills .nav-link.active {
  background: #000000;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  color: #fff;

}
.faqs-sec .nav-pills .nav-link::before {
  content: "";
  position: absolute;
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 17px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 7px;
  height: 7px;
}
.faqs-sec .nav-pills .nav-link.active::before  {
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
}
.faqs-sec .nav-pills .nav-link {
  text-align: left;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  padding: 16px 24px;
}
.accordion-item {
  border: none;
}
.faqs-wrap {
  border-bottom: 1px solid #DDE1E4;
  border-top: 1px solid #DDE1E4;
}
.faqs-wrap  .accordion-item.active {
  border-left: 1px solid;
  border-bottom: 1px solid #DDE1E4;
  border-radius: 0;
}
.faqs-wrap  .accordion-button:focus {
  box-shadow: none;
}
.faqs-wrap  .accordion-item .accordion-button {
  background-color: transparent;
}
.faqs-wrap .accordion-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
.faqs-wrap .accordion-body {
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  color: rgb(0 0 0 / 95%);
}
.faqs-wrap  .accordion-item {
  border-bottom: 1px solid #DDE1E4;

}
.faqs-wrap .accordion-button::after {
  width: 30px;
  height: 30px;
  background-size: 12px;
  background-color: #F5F5F8;
  border-radius: 50%;
  background-position: center;
}
.faqs-wrap .accordion-item:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 1600px) {
  .drawer__inner {
    padding: 0 35px 0 20px !important;
  }
}
@media only screen and (max-width: 1100px) {
  .section-template--17062378635579__main-padding h1 {
    margin-bottom: 0px;
  }
  .section-template--17062378635579__main-padding {
    padding: 20px 90px !important;
  }
}
@media only screen and (max-width: 992px) {
  .section-template--17062378635579__main-padding {
    padding: 20px 90px !important;
  }
}
@media only screen and (max-width: 768px) {
  #site-header .menu-icon-block {
    gap: 0rem 2rem;
    flex-wrap: nowrap !important;
}

.header-row.d-flex.justify-content-between.align-items-center.flex-wrap {
    flex-wrap: nowrap !important;
}

#site-header .menu-icon-block .icon-block {
    gap: 1rem;
}

#site-header .container {
    max-width: 100%;
}

#site-header .menu-icon-block .main-menu {
    gap: 1.5rem;
}

#site-header .humberg-icon {
    display: none !important;
}
  
}
@media only screen and (max-width: 600px) {
  .section-template--17062378635579__main-padding {
    padding: 15px 15px !important;
  }
  .icon-block a svg {
    width: 18px;
  }
  .icon-block a {
    display: flex;
    align-items: center;
  }
  .collection.container {
    max-width: 100%;
    padding: 0px;
  }
  .collection .product-row .pd-col {
    max-width: 48%;
    padding-bottom: 10px;
  }
  .collection.container ul {
    gap: 0px;
  }
  .product-card:hover .img-block > img {
    transform: scale(1.05);
  }
  .product__media-icon, .thumbnail__badge {
    display: none;
  }
  .product__modal-opener {
    pointer-events: none;
    touch-action: none;
  }
  product-recommendations .product-row .pd-col {
    width: 45% !important;
  }
  product-recommendations ul {
    gap: 0px;
  }
  .section-template--17062378635579__form-padding {
    padding-top: 0px !important;
  }
  .product-card .img-block {
    height: 160px;
  }
  .product-card .img-block > img {
    max-width: 80%;
  }
  .humberg-icon {
    display: flex !important;
  }
}
.quantity > input,
.product-dt-sec .product-dt-desc-block .quantity > input,
.product-dt-sec .product-dt-desc-block .quantity-counter-block > input {
  background-color: transparent;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #000;
  outline: 0;
  max-width: 5rem;
  text-align: center;
  border: 0;
}

.cart__items .quantity > input {
  background-color: transparent;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #000;
  outline: 0;
  max-width: 5rem;
  text-align: center;
  border: 0;
}

.inceaseBtn:hover,
.product-dt-sec .product-dt-desc-block .inceaseBtn:hover,
.product-dt-sec .product-dt-desc-block .quantity-counter-block .inceaseBtn:hover {
  background-color: #E52520;
}

.inceaseBtn,
.product-dt-sec .product-dt-desc-block .inceaseBtn,
.product-dt-sec .product-dt-desc-block .quantity-counter-block .inceaseBtn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

#site-header .humberg-icon span {
  width: 100%;
  height: 2px;
  display: block;
  margin-bottom: 0px;
  margin-bottom: 4px;
  border-radius: 10rem;
  background-color: #E52520;
  display: block;
  transition: 0.4s ease-in-out;
}

#site-header .humberg-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}

#site-header .humberg-icon span:last-child {
  margin-bottom: 0px;
}
.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__list {
    flex-wrap: initial !important;
}
.th_pb_wf {
    right: 12px !important;
}
.th_pb_grid_layout_3 .th_pb_list_ul_layout_3 .li_product_list_layout_3::after {
    right: 5px !important;
}
#site-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 1.6rem 0;
  transition: 0.4s ease-in-out;
  -webkit-animation: fadeDown ease 1s;
          animation: fadeDown ease 1s;
  z-index: 999;
}
#site-header.sticky, #site-header.static {
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-animation: fadeDownSticky ease 1s;
          animation: fadeDownSticky ease 1s;
}
#site-header.sticky .logo, #site-header.static .logo {
  max-width: 18.7rem;
}
.products-sec .secondary-title {
    font-size: 1.6rem !important;
    line-height: 2.2rem;
    font-weight: 300;
    color: #212529;
}

@media (max-width: 450px) {
  #site-header.sticky .logo, #site-header.static .logo {
    max-width: 17.7rem;
  }
}
#site-header.sticky .logo .sticky-logo, #site-header.static .logo .sticky-logo {
  display: block;
}
#site-header.sticky .logo .normal-logo, #site-header.static .logo .normal-logo {
  display: none;
}
#site-header.sticky .menu-icon-block .main-menu li a, #site-header.static .menu-icon-block .main-menu li a {
  color: #495057;
}
@media (max-width: 767px) {
  #site-header.sticky .menu-icon-block .main-menu li a, #site-header.static .menu-icon-block .main-menu li a {
    color: #fff;
  }
}
#site-header.sticky .menu-icon-block .icon-block .icon-btn svg path, #site-header.static .menu-icon-block .icon-block .icon-btn svg path {
  fill: #323C45;
}
#site-header .logo {
  max-width: 21.7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  #site-header .logo {
    max-width: 17.7rem;
  }
}
#site-header .logo .sticky-logo {
  display: none;
}
#site-header .menu-icon-block {
  gap: 2rem 7.6rem;
}
@media (max-width: 767px) {
  #site-header .menu-icon-block {
    gap: 2rem 3.3rem;
  }
}
@media (max-width: 450px) {
  #site-header .menu-icon-block {
    gap: 2rem 2.3rem;
  }
}
#site-header .menu-icon-block .main-menu {
  gap: 3rem;
}
@media (max-width: 767px) {
  #site-header .menu-icon-block .main-menu {
    flex-direction: column;
  }
}
#site-header .menu-icon-block .main-menu li.active a {
  color: #E52520;
}
#site-header .menu-icon-block .main-menu li a {
  transition: 0.4s ease-in-out;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #fff;
  display: inline-block;
}
@media (max-width: 767px) {
  #site-header .menu-icon-block .main-menu li a {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}
#site-header .menu-icon-block .main-menu li a:hover {
  color: #E52520;
}
#site-header .menu-icon-block .icon-block {
  gap: 2.5rem;
}
#site-header .menu-icon-block .icon-block .icon-btn svg path {
  transition: 0.4s ease-in-out;
}
#site-header .menu-icon-block .icon-block .icon-btn:hover svg path {
  fill: #E52520;
}
@media (min-width: 768px) {
  #site-header .navbar {
    transform: translateX(0) !important;
  }
}
#site-header .navbar .mobile-logo {
  margin-bottom: 3rem;
  max-width: 22.7rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  #site-header .navbar .mobile-logo {
    display: none;
  }
}
#site-header .navbar .close-menu {
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.9rem 0.6rem 0.6rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  #site-header .navbar .close-menu {
    display: none;
  }
}
#site-header .navbar .close-menu:hover span {
  background-color: #000;
}
#site-header .navbar .close-menu span {
  width: 100%;
  height: 0.3rem;
  border-radius: 10rem;
  background-color: #E52520;
  display: block;
  transition: 0.4s ease-in-out;
}
#site-header .navbar .close-menu span:first-child {
  transform: rotate(45deg) translateX(1px);
}
#site-header .navbar .close-menu span:last-child {
  transform: rotate(-45deg) translateX(1px);
}
@media (max-width: 767px) {
  #site-header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #657A87;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateX(-120%);
    transition: 0.4s ease-in-out;
    overflow-y: auto;
  }
}
#site-header .humberg-icon {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 0.65rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  cursor: pointer;
  display: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1411764706);
}
@media (max-width: 767px) {
  #site-header .humberg-icon {
    display: flex;
  }
}
#site-header .humberg-icon:hover span {
  background-color: #000;
}
#site-header .humberg-icon span {
  width: 100%;
  height: 0.3rem;
  border-radius: 10rem;
  background-color: #E52520;
  display: block;
  transition: 0.4s ease-in-out;
}

#site-header.static + #main-content {
  margin-top: 8.1rem;
}

#site-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#site-footer::before {
  content: "";
  background-image: url("https://cdn.shopify.com/s/files/1/0682/9624/5563/files/footer-bg.png?v=1669717701");
  position: absolute;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 104.8rem;
  width: 100%;
  z-index: -1;
}
#site-footer .footer-main-block {
  padding-top: 8rem;
  padding-bottom: 9rem;
}
@media (max-width: 767px) {
  #site-footer .footer-main-block {
    padding: 5rem 0;
  }
}
#site-footer .ft-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#site-footer .ft-row .ft-logo-col {
  width: 22%;
}
@media (max-width: 1230px) {
  #site-footer .ft-row .ft-logo-col {
    width: 29%;
  }
}
@media (max-width: 700px) {
  #site-footer .ft-row .ft-logo-col {
    width: 40%;
  }
  #site-header .humberg-icon {
    display: block !important;
}
}
@media (max-width: 575px) {
  #site-footer .ft-row .ft-logo-col {
    width: 100%;
    margin-bottom: 2rem;
  }
}
#site-footer .ft-row .ft-right-col {
  width: 62.6%;
}
@media (max-width: 1230px) {
  #site-footer .ft-row .ft-right-col {
    width: 71%;
  }
}
@media (max-width: 700px) {
  #site-footer .ft-row .ft-right-col {
    width: 60%;
  }
}
@media (max-width: 575px) {
  #site-footer .ft-row .ft-right-col {
    width: 100%;
  }
}
#site-footer .ft-logo-block .ft-logo {
  max-width: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.6rem;
}
#site-footer .ft-logo-block .visit-link {
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-weight: 700;
  color: #E52520;
  transition: 0.4s ease-in-out;
  letter-spacing: 0.06em;
}
#site-footer .ft-logo-block .visit-link:hover {
  color: #657A87;
}
#site-footer .ft-caontact {
  margin-bottom: 1.4rem;
}
#site-footer .ft-caontact li {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
}
#site-footer .ft-caontact li > .icon-block {
  min-width: 2.1rem;
}
#site-footer .ft-caontact li:not(:last-child) {
  margin-bottom: 1.4rem;
}
#site-footer .ft-caontact li a {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 300;
  color: #868E96;
  transition: 0.4s ease-in-out;
}
#site-footer .ft-caontact li a:hover {
  color: #323232;
}
#site-footer .ft-links-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 7rem;
}
@media (max-width: 767px) {
  #site-footer .ft-links-row {
    gap: 2.5rem;
  }
}
#site-footer .ft-links-row .ft-products-col {
  width: 32%;
}
@media (max-width: 1230px) {
  #site-footer .ft-links-row .ft-products-col {
   width: 25%;
  }
}
#site-footer .ft-links-row .ft-about-col {
  width: 18%;
}
@media (max-width: 1230px) {
  #site-footer .ft-links-row .ft-about-col {
    width: 14%;
  }
}
#site-footer .ft-links-row .ft-vender-col {
  width: 12%;
}
#site-footer .ft-links-row .ft-last-col {
  width: 10%;
}
@media (max-width: 767px) {
  #site-footer .ft-links-row > div[class^=ft] {
    width: calc(50% - 2.5rem);
  }
}
@media (max-width: 700px) {
  #site-footer .ft-links-row > div[class^=ft] {
    width: 100%;
  }
}
#site-footer .ft-title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: #323232;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 1.45rem;
}
#site-footer .ft-links-ul li a {
  font-size: 1.6rem;
  line-height: 3.1rem;
  font-weight: 300;
  color: #868E96;
  letter-spacing: 0.02em;
  transition: 0.4s ease-in-out;
  display: inline-block;
}
#site-footer .ft-links-ul li a:hover {
  color: #E52520;
}
#site-footer .ft-copywrite {
  padding: 2.5rem 0;
  border-top: 1px solid rgba(134, 142, 150, 0.3);
}
#site-footer .ft-copywrite p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 300;
  color: #323232;
  letter-spacing: 0.01em;
  text-align: center;
}
.header-block {
    margin-bottom: 20px;
}

@media (max-width: 450px) {
  #site-footer .ft-copywrite p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
#site-footer .ft-copywrite p > a {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 300;
  color: #323232;
  letter-spacing: 0.01em;
  transition: 0.4s ease-in-out;
}
@media (max-width: 450px) {
  #site-footer .ft-copywrite p > a {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
#site-footer .ft-copywrite p > a:hover {
  color: #E52520;
}

.slider-sec .slider-card {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}
@media (max-width: 991px) {
  .slider-sec .slider-card {
    height: 52.9rem;
  }
}
.slider-sec .slider-card>.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-sec .slider-content-block {
    height: auto;
}
.slider-sec .slider-content-block .header-block {
  text-align: center;
}
.slider-sec .slider-content-block .header-block h2 {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 700;
  color: #E52520;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .slider-sec .slider-content-block .header-block h2 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
.slider-sec .slider-content-block .header-block h2 > span {
  color: #657A87;
}
.slider-sec .slider-content-block .header-block h1 {
  font-size: 5.8rem;
  line-height: 6.8rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .slider-sec .slider-content-block .header-block h1 {
    font-size: 4.4rem;
    line-height: 5.4rem;
  }
}
@media (max-width: 575px) {
  .slider-sec .slider-content-block .header-block h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
.slider-sec .slider-content-block .buttons-block .primary-btn {
    margin-bottom: 0px;
}
@media (max-width: 991px) {
  .slider-sec .slider-content-block .buttons-block .primary-btn {
    margin-bottom: 3rem;
  }
}
.slider-sec .hero-slider-home {
  display: none;
}
.slider-sec .hero-slider-home.slick-slider {
  display: block;
}
.slider-sec .hero-slider-home .slick-arrow {
  z-index: 99;
}
.slider-sec .hero-slider-home .slick-arrow:hover svg path {
  fill: #E52520;
}
.slider-sec .hero-slider-home .slick-arrow svg path {
  transition: 0.4s ease-in-out;
}

.services-sec {
  padding-top: 9rem;
  padding-bottom: 7.7rem;
  /* width */
  /* Track */
  /* Handle */
}
@media (max-width: 767px) {
  .services-sec {
    padding: 5rem 0;
  }
}
.services-sec ::-webkit-scrollbar {
  height: 2px;
}
.services-sec ::-webkit-scrollbar-track {
  background: #ccc;
}
.services-sec ::-webkit-scrollbar-thumb {
  background: #E52520;
  height: 2px;
}
.services-sec .services-container {
  max-width: 83.7rem;
  margin-inline: auto;
  padding-inline: 15px;
}
@media (max-width: 991px) {
  .services-sec .services-container {
    max-width: 90%;
  }
}
.services-sec .servces-row {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 3rem 8rem;
  padding-bottom: 5px;
}
.services-sec .servces-row .services-card {
  max-width: 11.6rem;
}

.services-card {
  text-align: center;
}
.services-card .icon-block {
  width: 8.8rem;
  height: 8.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
  margin-inline: auto;
}
.services-card .title {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: #E52520;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.why-optica-sec {
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .why-optica-sec {
    padding-bottom: 5rem;
  }
}
.why-optica-sec .sec-header .secondary-title {
  text-transform: unset;
}
.why-optica-sec .optica-container {
  max-width: 63.6rem;
  padding-inline: 15px;
}
.why-optica-sec .optica-desc-block {
  text-align: center;
}
.why-optica-sec .optica-desc-block p {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 300;
  color: #868E96;
}
.why-optica-sec .optica-desc-block p:not(:last-child) {
  margin-bottom: 2.5rem;
}

.sec-header {
  text-align: center;
}
.sec-header .prime-title {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: #E52520;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}
.sec-header .prime-title > span {
  color: #657A87;
}
.sec-header .secondary-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #323232;
  letter-spacing: 0.01em;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}

.call-to-action-sec .call-to-action-block {
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .call-to-action-sec .call-to-action-block {
    height: 40rem;
  }
}
@media (max-width: 767px) {
  .call-to-action-sec .call-to-action-block {
    height: 35rem;
  }
}
.call-to-action-sec .call-to-action-block .desc-block {
  max-width: 60.3rem;
  text-align: center;
  padding-inline: 15px;
}
.call-to-action-sec .call-to-action-block .desc-block .title {
  font-size: 2.5rem;
  line-height: 4.9rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
}
.sub-title {
    font-size: 4rem;
    line-height: 4.9rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: .01em;
    text-transform: capitalize;
    margin-bottom: 3.2rem;
}
.products-banner .banner-content {
  height: 34.9rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#010101;
}
@media (max-width: 767px) {
  .products-banner .banner-content {
    height: 26.9rem;
  }
}
.products-banner .banner-content .sec-header .prime-title {
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .products-banner .banner-content .sec-header .prime-title {
    margin-bottom: 1rem;
  }
}
.products-banner .banner-content .sec-header .secondary-title {
  font-size: 5.8rem;
  line-height: 6.8rem;
  font-weight: 300;
  color: #F8F9FA;
}
@media (max-width: 767px) {
  .products-banner .banner-content .sec-header .secondary-title {
    font-size: 4.4rem;
    line-height: 5.4rem;
  }
}

.products-sec {
  padding: 6.4rem 0;
}
@media (max-width: 767px) {
  .products-sec {
    padding: 5rem 0;
  }
}
.products-sec .sec-header {
  margin-bottom: 1.3rem;
}
.products-sec .sec-header .secondary-title {
  text-transform: capitalize;
  margin-bottom: 3.7rem;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.product-row .pd-col {
  width: calc(25% - 2.4rem);
}
@media (max-width: 1080px) {
  .product-row .pd-col {
    width: calc(33.33% - 3.2rem);
  }
  
}
@media (max-width: 767px) {
  .product-row .pd-col {
    width: calc(50% - 1.6rem);
  }
}
@media (max-width: 450px) {
  .product-row .pd-col {
    width: 85%;
    margin-inline: auto;
  }
}

.product-card {
  background-color: #fff;
  transition: 0.4s ease-in-out;
}
.product-card:hover {
  box-shadow: 0 0 15px rgba(229, 37, 32, 0.18);
}
.product-card:hover .img-block > img {
  transform: scale(1.1);
}
.product-card:hover .desc-block .title {
  color: #E52520;
}
.product-card .img-block {
  max-width: 100%;
  height: 24.1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .product-card .img-block {
    height: 30.1rem;
  }
}
.product-card .img-block > img {
  transition: 0.4s ease-in-out;
}
.product-card .desc-block {
  padding: 1.7rem;
  padding-right: 0.6rem;
}
.product-card .desc-block .title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #495057;
  letter-spacing: 0.01em;
  margin-bottom: 0.8rem;
  transition: 0.4s ease-in-out;
}
.product-card .desc-block .price {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.01em;
}

.product-dt-sec {
  padding-top: 6rem;
  padding-bottom: 10rem;
}
@media (max-width: 767px) {
  .product-dt-sec {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
/* .product__info-container>*+*{
  margin: 0 !important;
}
.product__info-container .product-form, .product__info-container .product__description {
    margin: 0 !important;
}
.product-dt-sec .primary-btn {
  height: 4rem;
  min-width: 13.3rem;
  display:flex;
  position: relative !important;
  left: 145px !important;
  top: -45px !important;
} 
@media (max-width: 991px) {
 .product-dt-sec .primary-btn {
  top: -35px !important;
}
}
@media (max-width: 449px) {
  .product-dt-sec .primary-btn {
  top: -30px !important;
}
}
*/
.product-dt-sec .product-dt-img-block {
  max-width: 100%;
  border: 1px solid #ced4da;
  height: 58.8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .product-dt-sec .product-dt-img-block {
    height: 45rem;
  }
}
@media (max-width: 991px) {
  .product-dt-sec .product-dt-img-block > img {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .product-dt-sec .product-dt-img-block > img {
    max-width: 50%;
  }
}
.product-dt-sec .product-dt-desc-block .title {
  font-size: 3.45rem;
  line-height: 5.1rem;
  font-weight: 700;
  color: #424242;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .product-dt-sec .product-dt-desc-block .title {
    font-size: 2.57rem;
    line-height: 4.1rem;
  }
}
.product-dt-sec .product-dt-desc-block .price {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 300;
  color: #495057;
  text-transform: uppercase;
  margin-bottom: 2.6rem;
}
.product-dt-sec .product-dt-desc-block .desc {
  margin-bottom: 3.2rem;
}
.product-dt-sec .product-dt-desc-block .desc > h6 {
  font-size: 2.2rem;
  line-height: 3.7rem;
  font-weight: 500;
  color: #424242;
  text-transform: uppercase;
}
.product-dt-sec .product-dt-desc-block .para-desc {
  margin-bottom: 2.4rem;
}
.product-dt-sec .product-dt-desc-block .para-desc p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 300;
  color: #212529;
  text-transform: uppercase;
}
.product-dt-sec .product-dt-desc-block .para-desc p:not(:last-child) {
  margin-bottom: 3rem;
}
.product-dt-sec .product-dt-desc-block .quantity-counter-block {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.inceaseBtn,
.product-dt-sec .product-dt-desc-block .inceaseBtn,
.product-dt-sec .product-dt-desc-block .quantity-counter-block .inceaseBtn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

.inceaseBtn:hover,
.product-dt-sec .product-dt-desc-block .inceaseBtn:hover,
.product-dt-sec .product-dt-desc-block .quantity-counter-block .inceaseBtn:hover {
  background-color: #E52520;
}

.quantity > input,
.product-dt-sec .product-dt-desc-block .quantity > input,
.product-dt-sec .product-dt-desc-block .quantity-counter-block > input {
  background-color: transparent;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #000;
  outline: 0;
  max-width: 5rem;
  text-align: center;
  border: 0;
}

.cart__items .quantity > input{
  background-color: transparent;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #000;
  outline: 0;
  max-width: 5rem;
  text-align: center;
  border: 0;
}

.product-dt-tabs-sec {
  padding-bottom: 7rem;
}
@media (max-width: 767px) {
  .product-dt-tabs-sec {
    padding-bottom: 5rem;
  }
}
.product-dt-tabs-sec .ctm-tabs-ul {
  gap: 4.8rem;
  margin-bottom: 4rem;
}
.product-dt-tabs-sec .ctm-tabs-ul li.active span {
  color: #323232;
}
.product-dt-tabs-sec .ctm-tabs-ul li.active span::after {
  width: 100%;
}
.product-dt-tabs-sec .ctm-tabs-ul li span {
  transition: 0.4s ease-in-out;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: rgba(50, 50, 50, 0.4);
  letter-spacing: 0.01em;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 0.5rem;
  display: inline-block;
  cursor: pointer;
}
.product-dt-tabs-sec .ctm-tabs-ul li span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  transition: 0.4s ease-in-out;
  height: 1px;
  background-color: #000;
}
.product-dt-tabs-sec .technical-info-block {
  max-width: 100%;
  max-height: 65rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-dt-tabs-sec .desciption_img-block {
  max-width: 100%;
  max-height: 50.4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-dt-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.product-dt-row .product-dt-col {
  width: calc(50% - 1.6rem);
}
@media (max-width: 767px) {
  .product-dt-row .product-dt-col {
    width: 100%;
  }
}

.custom-tabs .tab-content .ctm-tabs-pan {
  display: none;
}
.custom-tabs .tab-content .ctm-tabs-pan.active {
  display: block;
}

.related-products-sec {
  padding-bottom: 16.1rem;
}
@media (max-width: 767px) {
  .related-products-sec {
    padding-bottom: 7rem;
  }
}
.related-products-sec .sec-header .secondary-title {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 2.1rem;
}/*# sourceMappingURL=main.css.map */


/*****************************/
.header__icon--cart{
  margin-right: 0;
}

h2{
  letter-spacing: normal;
}

.cart-count-bubble{
  left: 1.4rem;
}

.main-content-margin {
  margin-top: 8.1rem;
}

.collection-hero__description {
  max-width: 100%;
}


.collection .primary-btn {
  margin-top: 10px;
}

.product-dt-sec .product-dt-row {
  gap: 3.2rem !important;
}

.product-dt-sec .product-dt-desc-block .desc>h6 {
  margin-top: 0;
  letter-spacing: normal;
}

.price .price-item {
  letter-spacing: normal;
}

.product .price__container{
  margin-bottom: 0;
}

.quantity:after {
  box-shadow: none;
}

.quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-drawer .inceaseBtn,
.cart__items .inceaseBtn{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
  background-color: #fff !important;
}

.cart-drawer .inceaseBtn:hover,
.cart__items .inceaseBtn:hover{
  background-color: #E52520 !important;
}

.cart-drawer .quantity > input,
.cart__items .quantity > input{
  background-color: transparent;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #000;
  outline: 0;
  max-width: 5rem;
  text-align: center;
  border: 0;
}

.product__description p {
  letter-spacing: normal;
}

.product__media.media.media--transparent.gradient.global-media-settings>img {
  height: 100% !important;
  object-fit: contain;
  padding: 80px;
}

.product__media.media.media--transparent.gradient.global-media-settings {  
  max-width: 100%;
  border: 1px solid #ced4da;
  height: 58.8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-form__buttons {
  display: flex;
}

.shopify-payment-button {
  margin-left: 10px;
}

button.shopify-payment-button__button {
  height: 4rem;
  min-width: 13.3rem;
  min-width: 18.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e52520;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 2px;  
  font-size: 0px;
}

button.shopify-payment-button__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 1;
  background-color: #657a87;
  transition: .4s ease-in-out;
  border-radius: 2px;
}

button.shopify-payment-button__button:hover::before {
  height: 100%;
}

button.shopify-payment-button__button::after {
  content: 'Buy it now';  
  text-transform: uppercase;
  text-align: center;  
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
  transition: .4s ease-in-out;
  z-index: 2;
}

.thumbnail[aria-current]{
  box-shadow: none !important;
  border-color:#ced4da !important;
}

.template-404 .primary-btn,
.cart__warnings .primary-btn{
  margin: 0 auto;
}


.customer button.primary-btn {
    min-width: 18.4rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e52520;
    color: #fff;
    text-decoration: none;
    position: relative;
    border-radius: 2px;
    margin: 20px auto;
}


.customer button.primary-btn span {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
  transition: 0.4s ease-in-out;
  z-index: 2;
}


.customer button.primary-btn:hover::before, .customer button.primary-btn.active::before {
  height: 100%;
}


.customer button.primary-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 1;
  background-color: #657A87;
  transition: 0.4s ease-in-out;
  border-radius: 2px;
}

.collection__view-all a:not(.link) {    
    margin: 1rem auto;
}

.cart-items thead th {
    font-weight: bold;
    font-size: 12px;
}

.our-vision-sec {
  padding: 9rem 0;
}
@media (max-width: 767px) {
  .our-vision-sec {
    padding: 4.5rem 0;
  }
}
.our-vision-sec .sec-header h3 {
  text-transform: capitalize;
}
.our-vision-sec .vision-desc {
  margin-bottom: 2.4rem;
}
.our-vision-sec .vision-desc p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 300;
  color: #868e96;
  text-align: center;
}
.our-vision-sec .vision-desc p:not(:last-child) {
  margin-bottom: 3.5rem;
}
.our-vision-sec .highlight-text {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #E52520;
  margin-bottom: 6rem;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .our-vision-sec .highlight-text {
    margin-bottom: 3.5rem;
  }
}
.our-vision-sec .contact-form-block .title {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: #323232;
  letter-spacing: 0.01em;
  margin-bottom: 4.8rem;
}
@media (max-width: 767px) {
  .our-vision-sec .contact-form-block .title {
    margin-bottom: 2.8rem;
  }
}
.our-vision-sec .primary-btn {
  height: 4rem;
  min-width: 10rem;
  background-color: #323232;
}
.our-vision-sec .primary-btn::before {
  background-color: #E52520;
}

.vision-container {
  max-width: 636px;
  margin-inline: auto;
  padding-inline: 15px;
}

.input-style {
  margin-bottom: 1.8rem;
}
.input-style .input-label {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #323232;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
  display: block;
}
.input-style .ctm-input,
.input-style .ctm-textarea {
  height: 4.8rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #323232;
  background-color: #f8f8f8;
  border-top-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #eeeeee;
  transition: 0.4s ease-in-out;
  padding: 5px 2rem;
}
.input-style .ctm-input:focus,
.input-style .ctm-textarea:focus {
  border-bottom-color: #E52520;
}
.input-style .ctm-textarea {
  min-height: 17.9rem;
  margin-bottom: 2.8rem;
}

.news-list-sec {
  padding-top: 6.8rem;
  padding-bottom: 9rem;
}
@media (max-width: 767px) {
  .news-list-sec {
    padding-top: 3.8rem;
    padding-bottom: 4.5rem;
  }
}

.news-list-row {
  gap: 3.2rem;
}
.news-list-row .news-col {
  width: calc(33.33% - 21.33px);
}
@media (max-width: 991px) {
  .news-list-row .news-col {
    width: calc(50% - 16px);
  }
}
@media (max-width: 480px) {
  .news-list-row .news-col {
    width: 100%;
  }
}

.news-card {
  transition: 0.4s ease-in-out;
}
.news-card .img-block {
  max-width: 100%;
  height: 25.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #04090d;
}
.news-card .img-block > img {
  transition: 0.4s ease-in-out;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.news-card .desc-block {
  padding: 1.8rem;
  border: 1px solid #e9ecef;
  border-top: 0;
}
.news-card .desc-block .date {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: #495057;
  margin-bottom: 1rem;
  display: inline-block;
}
.news-card .desc-block .news-title {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #E52520;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.news-card .desc-block p {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 300;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-bottom: 4.8rem;
  letter-spacing: normal;
}
.news-card .desc-block .readMore-btn {
  display: flex;
  gap: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #495057;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.news-card .desc-block .readMore-btn:hover {
  color: #E52520;
}
.news-card .desc-block .readMore-btn:hover svg {
  transform: rotate(45deg);
}
.news-card .desc-block .readMore-btn:hover svg path {
  stroke: #E52520;
}
.news-card .desc-block .readMore-btn svg {
  transition: 0.4s ease-in-out;
}
.news-card .desc-block .readMore-btn svg path {
  transition: 0.4s ease-in-out;
}
.news-card:hover {
  box-shadow: 0 0 7px rgba(229, 37, 32, 0.16);
}
.news-card:hover .img-block > img {
  scale: 1.2;
  rotate: 7deg;
}

.news-details-sec {
  padding-top: 5.6rem;
  padding-bottom: 8rem;
}
@media (max-width: 767px) {
  .news-details-sec {
    padding-top: 3.6rem;
    padding-bottom: 4rem;
  }
}
.news-details-sec .common-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #323232;
  letter-spacing: 0.04em;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
}
.news-details-sec .news-cards-list {
  gap: 2.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .news-details-sec .news-cards-list {
    flex-direction: row;
  }
}
.news-details-sec .news-cards-list .news-card {
  width: 100%;
}
@media (max-width: 767px) {
  .news-details-sec .news-cards-list .news-card {
    width: calc(50% - 16px);
  }
}
@media (max-width: 480px) {
  .news-details-sec .news-cards-list .news-card {
    width: 100%;
  }
}

.news-dt-img-block {
  max-width: 100%;
  height: 51.7rem;
  overflow: hidden;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.8rem;
}
.news-dt-img-block > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pd-card .tags-row {
  gap: 0.8rem;
  margin-bottom: 2.8rem;
}
.pd-card .tags-row .feature-tag {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  color: #E52520;
  font-family: "Inter", sans-serif !important;
  padding: 0.2rem 1rem;
  text-transform: capitalize;
  background-color: #FFEEEE;
  border-radius: 16px;
  letter-spacing: normal;
  display: inline-block;
}

.pd-card .tags-row .feature-tag time {
  font-family: 'Inter' !important;
}

.pd-card .news-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #E52520;
  letter-spacing: 0.04em;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}
.pd-card p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 300;
  color: #000;
}
.pd-card p:not(:last-child) {
  margin-bottom: 1.8rem;
}

.news-dt-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.news-dt-row .news-dt-col {
  width: calc(67.12% - 16px);
}
@media (max-width: 767px) {
  .news-dt-row .news-dt-col {
    width: 100%;
  }
}
.news-dt-row .news-list-col {
  width: calc(32.87% - 16px);
}
@media (max-width: 767px) {
  .news-dt-row .news-list-col {
    width: 100%;
  }
}

.privacy-policy-sec {
  padding-top: 4.8rem;
  padding-bottom: 10rem;
}
@media (max-width: 767px) {
  .privacy-policy-sec {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
  }
}

.privacy-content .privacy-desc-block {
  text-align: center;
}
.privacy-content .privacy-desc-block:not(:last-child) {
  margin-bottom: 4rem;
}
.privacy-content .privacy-desc-block h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}
.privacy-content .privacy-desc-block h2:not(:only-child) {
  margin-bottom: 0.5rem;
}
.privacy-content .privacy-desc-block h2.text-capitalize {
  text-transform: capitalize;
}
.privacy-content .privacy-desc-block p:not(:last-child) {
  margin-bottom: 1.2rem;
}
.privacy-content .privacy-desc-block p, .privacy-content .privacy-desc-block a {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 300;
  color: #000;
  transition: 0.4s ease-in-out;
}
.privacy-content .privacy-desc-block a:hover {
  color: #E52520;
}/*# sourceMappingURL=main.css.map */

@media screen and (min-width: 750px) {
  .cart-item cart-remove-button {
    margin: 0 !important;
}
}

cart-remove-button .icon-remove {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

.customer ul {
  padding-left:2.55rem !important;
}

.totals {
  justify-content:flex-end !important;
}
.tax-note {
  text-align:right !important; 
}
.cart__checkout-button {
  margin-left:auto !important;
}

@media screen and (max-width: 749px) {
    .product__media-list .product__media-item {
    
    width: 100% !important;
    margin:0 !important;
}
}

@media screen and (min-width: 1441px) {
  .products-banner .banner-content {
    background-size:contain;
  }
}

.description_text ul {
  list-style-type:disc;
  padding-left: 2rem;
}








.section-template--17062378766651__product-grid-padding li.grid__item.pd-col:nth-child(7) {
    display: none;
}
